* {
    margin: 0px;
    padding: 0px;

  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  

  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    opacity: 0.6;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: rgba(255, 255, 255, 0.589);
    opacity: 0.8;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba(255,255,255,0.2);
  }
  .input-group {
    margin: 10px 0px 10px 0px;
    background: transparent;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }


  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }

  .btn:hover{
    background-color: navy;
  }
  
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }



  section
{
    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg,#1bb2f8 0%, #376a9c 50%, #262626 50%, #607d8b 100% );
    filter: hue-rotate(120deg);
    animation: animate 10s linear infinite;

}


@keyframes animate
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

.box1{
  padding-top: 6%;
   
}
.box2{
  padding-top: 2%;
   
}
.frm{
  background: rgba(255,255,255, 0.1);
  background: transparent;
}

